.Welcome {
  position: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 1em;
}

.play {
  color: #FFFFFF;
  width: 730px;
  margin: auto;
}

.form {
  margin-top: 3em;
  margin-bottom:3em;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.submitBtn {
  margin-top: 1em;
}

#outlined-helperText {
  color: #FFFFFF;
}

#outlined-helperText-label {
  color: #FFFFFF;
}

/* .filled-size-small {
  color:
} */

/* .text {
  background-color: white;
} */

