.Welcome {
  position: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 1em;
}

.play {
  color: #FFFFFF;
  width: 730px;
  margin: auto;
}

.form2 {
  margin-top: 3em;
  margin-bottom:3em;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.submitBtn2 {
  margin-bottom: 3.5em;
}

#outlined-helperText {
  color: #FFFFFF;
}

#outlined-helperText-label {
  color: #FFFFFF;
}

.text2 {
  color: white;
  margin-top: 5em;
}

.usernameError {
  animation: shake 500ms linear 1;
  color: #CF6679;
}

.usernameError  > * {
  border-color: #CF6679
}


@keyframes shake {
  0% { transform: translate(1px, 0)}
  10% { transform: translate(-1px, 0) }
  20% { transform: translate(-3px, 0px) }
  30% { transform: translate(3px, 0) }
  40% { transform: translate(1px, 0) }
  50% { transform: translate(-1px, 0) }
  60% { transform: translate(-3px, 0) }
  70% { transform: translate(3px, 0) }
  80% { transform: translate(-1px, 0) }
  90% { transform: translate(1px, 0) }
  100% { transform: translate(1px, 0) }
}